<section class="help-edtech-founders-story">
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 pe-4">
                                <h5 class="card-title">HLEP EdTech FOUNDERS STORY</h5>
                                <span class="card-text">Why? Because we have experienced the power of this word to transform our
                                    startup. Imagine how different sectors and contexts could transform through the
                                    word ‘why’.
                                </span>
                                <ul class="card-text">
                                    <li>Let us share our story with you. In 2020, we were in India during the pandemic.
                                        As educators and parents, we noticed that students were missing supportive
                                        technology-based systems, as well as holistic practices such as social emotional
                                        learning (SEL), life skills, and outside the box.</li>
                                    <li>We started to think about tech-based education solutions for our students as
                                        well as our children. Our previous IT experience helped us to see that the
                                        platforms available on the market had overlapping goals for ecosystem learning.
                                        We then began to think of ways to improve learning at home as well.</li>
                                </ul>
                            </div>
                            <div class="col-6 ps-4">
                                <img class="img-fluid" src="assets/company/diagrams.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>