<!-- school board -->

<section>
    <div class="card1 p-4 schoolboard ">
        <div class="container">
            <h5 style="text-align: center;">The EdTech ecosystem is at the heart of our mission for the Education
                segment, so much so that it's the
                center of our mission statement.</h5>
        </div>
    </div>
</section>
<!-- customize the program -->
<section>
    <div class="container my-5">
        <div class="card rounded-5 ctp">
            <div class="row g-0">
                <!-- Text Left -->
                <div class="col-8 d-flex ">
                    <div class="card-body">
                        <h5 class="card-title mb-4 mt-4">Customize the program.</h5>
                        <ul class="ms-4 card-text">
                            <li>
                                To make our customers' technology ecosystems even stronger, we are ready to create
                                partnerships.
                            </li>
                            <li>
                                As lifespans increase and societal change accelerates, the idea of lifelong learning is
                                gaining traction, with more tools available for upskilling and advancement.
                            </li>
                            <li>
                                Why is a lifelong learning mindset important and what might it look like?
                            </li>
                            <li>
                                As people are living longer — in some countries as many as half of children born today
                                will live to 100 — they are predicted to make multiple career moves over the course of
                                their lifetime, some of which may require new skills and training. Yet, formal education
                                typically ends at adulthood.
                            </li>
                            <li>
                                Many organizations around the world that are seeking to reduce complexity and spark
                                collaboration are turning to the ecosystem structure used so successfully in Global.
                            </li>
                            <li>
                                We strive to create better education outcomes for all through lasting partnerships
                                across diverse geographical regions and technical sectors.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Image Right -->
                <div class="col-4 p-4">
                    <img src="assets/get-involved/schoolboardimg.svg" class="img-fluid rounded-end" alt="Card Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- publishers -->
<section>
    <div class="container mt-4">
        <div>
            <h5 style="text-align: center;">It is imperative that the education system prepares young people to be
                excellent career navigators. This
                is because they need transferable skills that will allow them to change fields rather than just
                switching jobs. As well as staying aware of changing workforce needs in ways that were probably less
                apparent in the past.</h5>
        </div>
    </div>
</section>
<section>
    <div class="container my-5">
        <div class="card rounded-5 publishers">
            <div class="row g-0">
                <!-- Text Left -->
                <div class="col-8 d-flex ">
                    <div class="card-body">
                        <p class="card-text">Education systems will play an increasingly significant role in preparing
                            future generations with global mindsets and skills as the world faces new challenges.
                        </p>
                        <p class="card-text">We help publishers develop an effective digital model by redefining the
                            boundaries of the content industry.</p>
                        <p class="card-text">A world-class research paper was developed that included public and private
                            education institutions. Several sources were used to collect information for the report,
                            including first-hand interviews, internal analysis, and research. In addition to providing
                            insight into trends for entering new markets, it also defined initial opportunities that
                            Hybrid Learning Platform could pursue immediately. By not having to conduct market research
                            and receiving recommendations on entering new markets, the Hybrid Learning Platform saved
                            time and money.</p>
                    </div>
                </div>
                <!-- Image Right -->
                <div class="col-4 p-4">
                    <img src="assets/get-involved/publishersimg.svg" class="img-fluid rounded-end" alt="Card Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- corporate collaboration -->
<section>
    <div class="container mt-4">
        <div>
            <h5 style="text-align: center;">Reimagine 21st century hybrid learning platform with technology tools,
                solutions, and expertise. Collaborate with the hybrid learning platform to break down access barriers.
                Educators and students around the world will be able to engage in meaningful interactive learning
                experiences.</h5>
        </div>
    </div>
</section>
<section>
    <div class="container my-5">
        <h4 class="text-uppercase">Benefits of Partnering with Hybrid Learning Platforms</h4>
        <div class="card rounded-5 ctp mt-4 cocl">
            <div class="row g-0">
                <!-- Text Left -->
                <div class="col-8 d-flex ">
                    <div class="card-body">
                        <dl class="card-text">
                            <dt class="m-4">Branding opportunities will increase</dt>
                            <dd class="m-4">Identify decision-makers within school systems and other organizations.</dd>

                            <dt class="m-4">Promote your business</dt>
                            <dd class="m-4">Take advantage of social media, online advertising, and industry events to
                                highlight and
                                promote your business.</dd>
                            <dt class="m-4">Contribute to the global community.</dt>
                            <dd class="m-4">Expand virtual learning opportunities for children everywhere.</dd>
                        </dl>
                    </div>
                </div>
                <!-- Image Right -->
                <div class="col-4 p-4">
                    <img src="assets/get-involved/corporatecollaborationimg.svg" class="img-fluid rounded-end"
                        alt="Card Image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-4">
        <div>
            <h5 style="text-align: center;">Our goal is to consolidate the international presence of companies,
                startups, NGOs and governments in the education space. In addition to accelerating digital
                transformation, connecting with strategic partners, and supporting mergers and acquisitions, we can
                expand strategically into new territories.</h5>
        </div>
    </div>
</section>
<section>
    <div class="container my-5">
        <div class="card rounded-5 globalnetwork">
            <div class="row g-0">
                <!-- Text Left -->
                <div class="col-8 d-flex ">
                    <div class="card-body">
                        <p class="card-text m-0">EDUCATION is the most powerful force for system change, and its
                            advancement
                            is the fastest path to a brighter future.

                        </p>
                        <p class="card-text m-0">We need TECHNOLOGY to transform education removing limits and bars.

                        </p>
                        <p class="card-text m-0">
                            New, INNOVATIVE, cutting-edge solutions are required in these unusual times. It is the
                            foundation of our actions, and our solutions are adapted to suit all types of learning.
                        </p>
                        <p class="card-text m-0">FUTURE generations will be able to build a resilient & strong
                            educational
                            foundation by anticipating upcoming trends.
                            We want our actions to IMPACT the world positively so that we leave a lasting mark.
                        </p>
                        <p class="card-text m-0">CREATIVE thinking and developing imaginative solutions are the
                            foundations
                            of critical thinking for building a successful education in the future.</p>
                    </div>
                </div>
                <!-- Image Right -->
                <div class="col-4 p-4">
                    <img src="assets/get-involved/globalnetworkimg.svg" class="img-fluid rounded-end" alt="Card Image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-5">
        <h4 class="text-uppercase">The world's vision, the world's thinking.</h4>
        <div class="card rounded-5 ctp mt-4 globalnetwork">
            <div class="row g-0">
                <!-- Text Left -->
                <div class="col-8 d-flex ">
                    <div class="card-body">
                        <p class="card-text">With extensive international experience and extensive knowledge of local
                            regions, we are developing a platform. With this in mind, we provide our clients with a
                            global perspective while connecting them with regional reality.</p>
                    </div>
                </div>
                <!-- Image Right -->
                <div class="col-4 p-4">
                    <img src="assets/get-involved/globalnetworkimg2.svg" class="img-fluid rounded-end" alt="Card Image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div class="container globalnetwork3main">
            <div class="row">
                <div class="col-9 pe-0">
                    <div class="card globalnetwork3" style="
        background-image: url('assets/get-involved/globalnetworkimg3.svg');
      ">
                        <div class="card-body d-flex align-items-center">
                            <div>
                                <p class="card-text gncard3text">
                                    Work together with us to transform the way your users interact with digital tools
                                    and resources.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-3 ps-0">
                    <div
                        class="card h-100 d-flex align-items-center justify-content-center rounded-5 globalnetworkcard3-2 ">
                        <button type="button" class="btn btn-outline-primary rounded-4">Sign up / login</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-4">
        <div>
            <p style="text-align: center;">With the Hybrid Learning Platform Partner Program, publishing partners can
                create, publish, and
                distribute ecosystem content using end-to-end digital tools and resources.
            </p>
            <p style="text-align: center;">Through this partnership, you can assist your clients in migrating to digital
                platforms and embarking on
                a digital transformation journey. By partnering with us, you can accelerate content digitalization,
                create new revenue streams for your clients, and boost your business growth.</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h4 class="text-uppercase">Creating a new publishing ecosystem</h4>
        <div class="card p-4 m-4 rounded-5 cnpe">
            <p>You can part ways with traditional publishing methods with the Hybrid Learning platform Partner Program.
                Reaching your audience is no longer dependent on publishing partners and distributors. Your hybrid
                learning platform acts as a seamless bridge between your digital content and your users. By using this
                program, the publishing process can be made more cost-effective and time efficient.</p>
        </div>
    </div>
</section>